body {
    text-align: center;
    background-color: lightgreen;
    cursor: pointer;
}

.game-board td {
    width: 30px;
    height: 30px;
    border: black solid 1px;
    text-align: center;
    font-size: 1em;
    background-color: gray;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

button {
    height: 30px;
    padding: auto;
    background-color: lightyellow;
    cursor: pointer;
}

.smiley {
    padding: 10px;
    width: 20px;
    margin: auto;
}
